@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Suez+One&display=swap');
.backgroundImg {
    position: absolute;
    top: -1px;
    right: -4px;
    left: -5px;
    height: 100%;
    width: auto;
    z-index: -1;
}

.buttonss {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: 50px;
}

#slider1 {
    position: absolute;
    top: 460px;
    left: 190px;
    width: 300px;
    height: 150px;
    background: #BC6FF1;
    transform: translateX(-900%);
    box-shadow: 16px 13px 52px -1px rgba(0, 0, 0, 0.62);
    cursor: pointer;
    border-radius: 35px 35px 35px 35px;
}

.slide-in1 {
    animation: slide-in1 ease 2s forwards;
    animation-duration: 3s;
}

@keyframes slide-in1 {
    100% {
        transform: translateX(10%);
    }
}

#slider2 {
    position: absolute;
    top: 460px;
    left: 638px;
    width: 300px;
    height: 150px;
    background: #52057B;
    transform: translateX(-500%);
    box-shadow: 16px 13px 52px -1px rgba(0, 0, 0, 0.62);
    cursor: pointer;
    border-radius: 35px 35px 35px 35px;
}

.slide-in2 {
    animation: slide-in2 ease 2s forwards;
    animation-duration: 3s;
}

@keyframes slide-in2 {
    100% {
        transform: translateX(50%);
    }
}

#slider3 {
    position: absolute;
    top: 460px;
    left: 1050px;
    width: 300px;
    height: 150px;
    background: #892CDC;
    transform: translateX(900%);
    box-shadow: 16px 13px 52px -1px rgba(0, 0, 0, 0.62);
    cursor: pointer;
    border-radius: 35px 35px 35px 35px;
}

.slide-in3 {
    animation: slide-in3 ease 2s forwards;
    animation-duration: 3s;
}

@keyframes slide-in3 {
    100% {
        transform: translateX(100%);
    }
}

.fade-in-text {
    color: #400080;
    animation: fadeIn linear 1.7s;
    text-align: center;
    z-index: 2;
    left: 690px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon {
    position: absolute;
    width: auto;
    padding-left: 3%;
    padding-top: 1%;
    z-index: 10;
    overflow-y: hidden;
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

body {
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px), linear-gradient(155deg, black 23px, transparent 23px), linear-gradient(335deg, black 23px, transparent 23px), linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient( ellipse 50% 35% at 50% 50%, #b96aff, transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 17%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a845ff, -0.2rem 0.1rem 1rem #a845ff, 0.2rem 0.1rem 1rem #a845ff, 0 -0.5rem 2rem #7c00e9, 0 0.5rem 3rem #7c00e9;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a845ff, -0.2rem 0.1rem 1rem #a845ff, 0.2rem 0.1rem 1rem #a845ff, 0 -0.5rem 2rem #7c00e9, 0 0.5rem 3rem #7c00e9;
    }
    28%,
    33% {
        color: #a845ff;
        text-shadow: none;
    }
    82%,
    97% {
        color: #7c00e9;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.med-flicker {
    animation: shine 2s forwards, blink 5s 1s infinite;
}

@keyframes shine {
    0% {
        color: #a845ff;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a845ff, -0.2rem 0.1rem 1rem #a845ff, 0.2rem 0.1rem 1rem #a845ff, 0 -0.5rem 2rem #7c00e9, 0 0.5rem 3rem #7c00e9;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}